* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    /* align-items: center; */
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    opacity: 0.8;
    background-color: #081b31;
}

img {
    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 500;
}

#user-score,
#computer-score {
    font-size: 5rem;
}

.message-container {
    margin-top: 4rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1.5rem;
    padding: 0.8rem;
}